<!-- <nav class="navbar">
  <div class="profileNav">
      <a routerLink='/'>Profile</a>
  </div>
  <div class="scheduleNav">
    <a routerLink='/'>Schedule</a>
  </div>
  <div class="logoutNav">
    <a routerLink='/'>Logout</a>
  </div>
</nav> -->

<nav>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="nav-item" routerLink="">Profile</a>
        <a class="nav-item" routerLink="">Schedule</a>
        <a class="nav-item" routerLink="">Logout</a>
      </div>
    </div>
  </nav>